@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    The symptoms of Mènière's disease are episodic rotational
    vertigo (attacks of a spinning sensation), hearing loss,
    tinnitus (a roaring, buzzing, or rinning sound in the ear),
    and a sensation of fullness in the affected ear. Tinnitus
    (rining in the ear), and fullness of the ear in Mènière's
    disease may come and go with changes in hearing, occur
    during or just before attacks, or be constant. There may
    also be an intermittent hearing loss early in the disease,
    especially in the low pitches, but a fixed hearing loss
    involving tones of all pitches commonly develops in time. 
    Loud sounds may be uncomfortable and seem distorted in
    the affected ear.
</p>

<p>
    Of all the Mènière's disease's symptoms, vertigo is usually
    the most troublesome. It is commonly produced by disorders
    of the inner ear, but may also occur in central nervous
    systems disorders. Vertigo may last for 20 minutes
    to two hours or longer. During attacks, patients are usually
    unable to perform activities normal to their work or home-life.
    Sleepiness may follow for several hours, and the off-balance
    sensation may last for days The Symptoms of Mènière's disease
    may only be a minur nuisance, or can become disabling, especially
    if the attacks of vertigo are severe, frequent, and occur without
    warning.
</p>