@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MenieresResourcesInc</h1>
    <p>Mènière's disease, also called <strong>Idiopathic Endolpmphatic Hydrops,</strong>
    is a disorder of the inner ear. Although the cause is unknown, it probably results from
    an abnormality in the fluids of the inner ear. Mènière's disease is one of the most
    common causes of dizziness originating in the inner ear. In most cases only one ear is
    involved, but both ears may be affected in about 15 percent of patients. Mènière;s
    disease typically starts between the ages of 20 and 50 years. Men and women are
    affected in equal numbers.</p>
</div>
