@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MenieresResourcesInc</h1>
    <p>This site is currently under construction. Stay tuned for more content!</p>
</div>
